#map {
    position: relative;
    width: 100%;
    height: 100%;
}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/docs/image/maps.jpeg");
    background-position: center;
    background-size: cover;
}

div {
    text-align: center;
    
}

h1{
    text-align: center;
}

.start {
    margin: 23px 25px 23px ;
    cursor: pointer;
}

i {
    padding: 28px 0 0 1px;
    cursor: pointer;
}

.Congo {
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Geologica', sans-serif;
    color: rgba (0, 0, 0, 0.5);
    transition: 2s ease;
    color: black;
}

.Nigeria {
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Geologica', sans-serif;
    color: rgba (0, 0, 0, 0.5);
    transition: 2s ease;
    color: black;
}


.canada {
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Geologica', sans-serif;
    color: rgba (0, 0, 0, 0.5);
    transition: 2s ease;
    color: black;
}